* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	background-color: #f4f6f8;
}

.navbar {
	display: flex;
	align-items: center; 
	justify-content: space-between;
	padding: 0 20px;
	height: 60px;
	background-color: #f8f8f8;
}

	.navbar .logo {
		font-size: 1.5rem;
		font-weight: bold;
	}




.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 260px;
	height: 100vh;
	background: #2c2d32;
	color: white;
	padding: 20px; 
	z-index: 2000; 
	border-right: 1px solid #e5e7eb;
}


	.sidebar h2 {
		margin-bottom: 20px;
		font-size: 18px;
	}

.filter-group {
	margin-bottom: 20px;
}

	.filter-group label {
		display: block;
		margin-bottom: 6px;
		font-size: 14px;
		font-weight: bold;
	}

	.filter-group select {
		width: 100%;
		padding: 8px;
		border-radius: 6px;
		border: 1px solid #ddd;
	}


.content {
	margin-left: 260px;
	padding: 120px 40px 40px;
}



.marketplace {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap: 30px;
}


.card {
	background: white;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

	.card h3 {
		margin: 15px;
		font-size: 18px;
	}

	.card p {
		margin: 0 15px;
		color: #666;
		font-size: 14px;
	}

	.card span {
		display: block;
		margin: 15px;
		font-size: 20px;
		font-weight: bold;
	}

	.card button {
		width: calc(100% - 30px);
		margin: 0 15px 20px;
		padding: 10px;
		border: none;
		background: #3c5adc;
		color: white;
		border-radius: 6px;
		cursor: pointer;
	}

		.card button:hover {
			background: #345B1A;
		}


.image-placeholder {
	width: 100%;
	height: 180px;
	background: linear-gradient(135deg, #e5e7eb, #f3f4f6);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #9ca3af;
	font-size: 14px;
	font-weight: bold;
}

.nav-links a {
	margin-left: 20px;
	text-decoration: none;
	font-size: 15px;
	padding: 8px 12px;
	border-radius: 6px;
	transition: all 0.3s ease;
	color: black; 
}


	.nav-links a:not(.register):hover {
		background: rgba(255,255,255,0.2); 
		color: white;
	}

	
	.nav-links a.register {
		background: #2563eb;
		color: white;
		font-weight: bold;
		padding: 8px 18px;
		border-radius: 8px;
		transition: all 0.3s ease;
	}

		.nav-links a.register:hover {
			background: #1e40af;
		}


.logo-link {
	text-decoration: none;
	color: white;
	cursor: pointer;
}

	.logo-link:hover {
		color: #666;
	}

@media (max-width: 900px) {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		width: 260px;
		height: 100vh;
		background: #2c2d32;
		color: white;
		padding: 100px 20px 20px;
		border-right: 1px solid #e5e7eb;
		z-index: 1100; 
	}

	.content {
		margin-left: 0;
		padding: 30px 20px;
	}
}
